<div class="container">
  <div class="row mt-5">
    <div class="col" *ngIf="!isAuthenticated">
      <!-- NOTE: Login -->
      <cal-login-form #loginForm 
        (login)="login($event)" 
        (forgotPwd)="forgotPassword($event)" 
        (sendFirstPwd)="firstPassword($event)" 
        (sendResetPwd)="lostPassword($event)">
      </cal-login-form>
    </div>
    <div class="col" *ngIf="isAuthenticated">
      <!-- NOTE: Logout -->
      <button mat-button color="primary" (click)="logout()">
        Logout
      </button>
      <button mat-button color="accent" (click)="request()">
        Request
      </button>
      <button mat-button color="accent" (click)="refresh()">
        Refresh
      </button>
    </div>
  </div>
</div>