<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <!-- NOTE: Logout -->
      <button mat-button color="primary" (click)="logout()">
        Logout
      </button>
      <button mat-button color="accent" (click)="request()">
        Request
      </button>
      <button mat-button color="accent" (click)="refresh()">
        Refresh
      </button>
      <button mat-button color="warn" (click)="sts()">
        STS
      </button>
      <button mat-button color="warn" (click)="getCredentials()">
        Get credentials
      </button>
    </div>
  </div>
</div>